/*

Colors:

off_white: FCF9F4
orange: EB8000
dark_grey: 1C1C1B
med_grey: 474745
light_grey: B1B1B5
link_blue: 306495

*/


/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }



body {
	font:12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color:#FCF9F4;
	text-align:center;	
}

/* links */
a, a:visited {	
	color: #306495;
	background: inherit;
	text-decoration: none;
}
a:hover {
	color: #306495;
	background: inherit;
	text-decoration: underline;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	font-weight: Bold; 	
	padding: 10px;		
	color: #444;	
}
h1 {
	font-size: 2.2em;		
}
h2 {
	font-size: 2em;
	color: #88ac0b;
}
h3 {
	font-size: 1.4em;
	font-weight: normal;	
	padding: 16px 10px 4px 10px;
}

/* Paragraph */
p { padding: 12px 10px;	}

/* Lists */
ul {
	margin: 10px 20px;
	padding: 0 20px;
	list-style: none;	
}

dl { padding: 10px; margin: 0; }

dt {
  font-weight: bold;
  color: #79A62E;
}
dd {
  padding-left: 25px; 
}

/* images */
img {
	background: #fafafa;
	padding: 7px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;
  	/* white-space: pre; */
  	border: 1px solid #deedae; 
	background: #F0FFD2; 
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #895F30;
}
blockquote {
	margin: 15px 10px;
 	padding: 5px 7px 5px 40px;  	
   font-weight: normal;
	font-size: 17px;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;		
	color: #80614D;	
	border: 1px solid #DFF4B5; 
	background: #F0FFD2 url(/media/template_images/quote.gif) no-repeat 7px 10px;
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 15px 10px;		
}
th {
	height: 38px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	background: #ADD163;	
	border-width: 1px;
  	border-style: solid;
  	border-color: #C4DE8F #93C138 #93C138 #C4DE8F;	
}
tr {
	height: 34px;
	background: #fff;
}
td {
	padding-left: 11px;
	padding-right: 11px;
	border: 1px solid #E7F0CC;	
}	
/* end - table */

/* form elements */
form {
	margin: 5px 3px; 
	padding: 1px 2px 4px 5px;
	background-color: transparent;
}
label {
	display: block;
	font-weight: 600;
	margin: 8px 0 5px 0;
	color: #474745;
}
input, textarea, select {
	padding: 4px;
	color: #666666;		
	background: #fff;
	
  	border-width: 1px;
  	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 
	
	font: normal 11px Verdana, sans-serif;
}
textarea {
	width: 400px;	
	height: 100px;
	display: block;	
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #A6CD56;
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #C4DE8F #8DB836 #8DB836 #C4DE8F;
}


/********************************************
   LAYOUT
********************************************/ 

#wrap {
	position: absolute;
	top:0;
	left:0;
	width: 1000px;
	height:100%;
	background: #FCF9F4;
	text-align: left;	
}

#left_subwrap {
	position: fixed;
	top:0;
	left:0;
	width:280px;
	background: #FCF9F4;
	min-height: 470px;
	float:left;
}

#browse_search {
	position:relative;
	top:10px;
	left:10px;
	width:260px;
	height:100%;
}

#farrightwrap{
	background-color:red;
	float:left;
	width: 100%;
	
}

ul.tabs {
	position:relative;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	width: 100%;

}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #000;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #AA0000; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #B1B1B5;
	border-bottom: 1px solid #B1B1B5; /*--Makes the active tab look like it's connected with its content--*/
}

ul.genrechoices {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

.smartchoices {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
ul.genrechoices li{
	 
}
li.browsechoices {
	font-weight: 100;
}

#songlist {
	overflow: hidden;
	height:910px;
}

.tab_container {
	border: 1px solid #FCF9F4;
	border-top: none;
	overflow: hidden;
	clear: both;
	width: 100%;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
    -khtml-border-bottom-right-radius: 15px;
	-khtml-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	
	background-image: -webkit-gradient(
    linear,
    right bottom,
    100 top,
    color-stop(0, #EBE8E3),
    color-stop(0, #B1B1B5)
	);
	background-image: -moz-linear-gradient(
    right bottom,
    #EBE8E3 0%,
    #FCC9F4 32%
	);
	
	border-width:0px;
	border-color:#DCDCDC;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
}
.tab_content {
	padding-top:15px;
	padding-bottom:10px;
	padding-right:0px;
	padding-left:0px;
	font-size: 1.2em;
}










#recommendations {
	position:relative;
	top:20px;
	left:5px;
	width:260px;
	background:#FCF9F4;
	border-width:0;
}

#right_subwrap {
	position: absolute;
	top:0;
	right:0;
	width: 720;
	background: #FCF9F4;

}
#toptabnav {
	position: absolute;
	right: 20px;
	top: -6px;
	width: 500px;
}
#toptabnav a {
	position: relative;
	top: -15px;
	margin-right:20px;
	margin-left:20px;
}
#toptabnav a:hover {
	color:#000;
	position: relative;
	top: 0px;
}

#toptabnav a.active_nav {
	position: relative;
	top: 0px;
	}



#content-wrap {
	position: absolute;
	top: 90px;
	right: 0px;
	width: 720px;
	border-left: 1px solid #DCDCDC;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #787878;
	border-right: 1px solid #787878;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}





#player {
	text-align:left;
	position:fixed;
	bottom:0px;
	width:100%;
	left:0px;
	right:0px;
	height:130px;
	background-color:gray;
}

#songqueue{
	height:86px;
	background-color:gray;
	overflow:hidden;
	background-image:url(/site_media/player_controls/noalbum.png);
	background-repeat:repeat-x;
}

ol#nowplaying{
	margin:0;
	list-style:none;
}

.nowplaying{
	background-color:red;
}
	


.audio{
	display:none;
}

#playerbottom{
	background-color:gray;
	height:35px;
	width:100%;
}

.player_control{
	width:30px;
	height:30px;
	display:inline-block;
	position:relative;
	bottom:0px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:10% 85%;
}
.player_control:hover{
	background-position:left top;
}

.controlpause{
	background-image:url(/site_media/player_controls/play.png);
}
.controlplay{
	background-image:url(/site_media/player_controls/pause.png);
}

.songqueue {
	background-color:orange;
	display:inline-block;
	width:83px;
	height:77px;
	margin-right:2px;
	margin-left:4px;
	margin-top:3px;
	text-align:center;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius:4px;
}

ol>li{
	display:inline-block;
	white-space: nowrap;
    overflow: hidden;
}

.playingsong {
	border: 3px solid #D2E9A4;
}









.fullsong {
	background-color:transparent;
	padding:20px 30px;
}

.upvote{
	height:60px;
	width:40px;
	background-image: url(upvote.png);
	background-repeat:no-repeat;
	background-position: left bottom;
}


.downvote {
	height:60px;
	width:40px;
	background-image: url(downvote.png);
	background-repeat:no-repeat;
	background-position: left bottom;
}
.songscore {
	font-weight:800;
	font-size:12pt;
	text-align:center;
}


.votes{
	background-color: transparent;
	position: relative;
	left:0px;
	width:40px;
	float:left;
	vertical-align:middle;
}

.songvote{
	margin-left:auto;
	margin-right:auto;
	width:30px;
	text-align:center;
	padding:0px
	background-color: transparent;
}
.mainsong {
	background-color: transparent;
	margin: auto;
	width: 50%;
	height:100%;
	padding: 10px;
	text-align:center;
}

.mainsong h1{
	margin: 5px;
	padding: 0px;
	text-align:center;
	letter-spacing:5px;
	color:#000;
	font-weight:700;
}
.mainsong h3{
	margin: 10px;
	padding: 0px;
	text-align:center;
	color:#00AA00;
	font-weight:100;
}

.mainsong a, a:visited {	
	color:#000;
	background: inherit;
	text-decoration: none;
}
.mainsong a:hover {
	color:#000;
	background: inherit;
	text-decoration: underline;
}

.mainsong p{
	padding:0px;
	margin: 0px;
}





/* Main Column */
#main {
	float: left;
	width: 100%;
	padding: 0; 
	margin: 0 0 0 45px;
	display: inline;	
}
#main h2 {
	font: bold 2.25em 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: #115280; 
	padding: 10px 0 5px 5px; 	
	margin-left: 5px;		
	letter-spacing: -1px;
	border-bottom: 1px solid #D2E9A4;
}
#main h2 a {
	color: #115280;
	text-decoration: none;		
}
#main ul li {
	background-color: transparent;
}


/* logo */
#amplifirelogo {
	position:fixed;
	left:5px;
	bottom:120px;
}
#headphonepic{
	position:fixed;
	right:90px;
	bottom:108px;
	padding:0px;
	margin:0px;
}

/* search form */
#sidebar .searchform {
	background-color: transparent;
	border: none;	
	margin: 0 0 0 5px; 
	padding: 10px 0 10px 10px;	
	width: 260px;	
}
#sidebar .searchform p { margin: 0; padding: 0; }
#sidebar .searchform input.textbox { 
	width: 180px;
	height: 18px;
	padding: 2px;	
	vertical-align: top;
}
#sidebar .searchform input.button { 
	width: 60px;
	height: 24px;
	padding: 2px 4px;
	vertical-align: top;
}

/* footer */
#footer-wrap {
	position: absolute;
	left:300px;
	bottom: -30px;
	clear: both;
	width: 920px;
	text-align: left;
	padding: 0;	margin: 0;
	background: url(/media/template_images/footer-bottom.gif) no-repeat left bottom;		
}
#footer-content {
	width: 920px;
	background: url(/media/template_images/footer-top-sep.gif) no-repeat;	
	padding: 30px 0 35px 0;
}

#footer-wrap p {
	padding:10px 0;
}
#footer-wrap h3 {
	color: #145F94; 
	margin: 0;
	padding: 5px 0 5px 10px; 
	text-transform: uppercase;
}
#footer-wrap a:hover { 
	color: #000; 
	text-decoration: none;
}

#footer-columns {
	color: #888;
	margin: 0 auto; 
	padding: 0;	
	width: 800px;		
}
#footer-columns ul {
	list-style: none;
	margin: 0; 
	padding: 0;	
	border-top: 1px solid #BFD286;
}
#footer-columns li {
	border-bottom: 1px solid #CCDA9E;		
}
#footer-columns li a {
	display: block;
	font-weight: normal;
	padding: 8px 0 8px 10px;
	width: 96%;
	color: #666666;	
}

#footer-columns .col3, .col3-center {
	float: left;
	width: 32%;
}
#footer-columns .col3-center { 
	margin: 0 15px; 
}

/* bottom */
#footer-bottom {
	clear: both;
	color: #555;	
	margin: 0 auto; 
	width: 920px;
	padding: 15px 0 10px 0;
	text-align: center;	
	font-size: 0.95em;
}
#footer-bottom a { color: #306495; }

/* postmeta */
.post-footer {
	padding: 8px 5px; 
	margin: 5px 10px 10px 10px;	
	color: #A2745D;
	border: 1px solid #deedae; 
	background: #F0FFD2;
}
.post-footer .date{ margin: 0 10px 0 5px;	}
.post-footer a.comments { margin: 0 10px 0 5px;	}
.post-footer a.readmore { margin: 0 10px 0 5px;	}

.post-info { font-size: .95em; padding: 0 10px; margin-left: 2px; color: #A98D76; }
.post-info a, .post-info a:visited { color: #9C652E; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* clearing */
.clearer { clear: both; }
.clear {	display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}




